
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@100;200;300;400;500;600;700&display=swap);
    



:root{
    --dark: #2b2d42;
    --light: #adb5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
    --icon-delete: #FF0008;
    --icon-edit: #FFD100;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Secular One', sans-serif;
    box-sizing: border-box;

}
/* ------------------------------------FORM -----------------------------------------------------------------*/
.container-main-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.container-form{
    display: flex;
    margin: 50px auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    max-width: 700px;
    height: auto;
    padding: 20px 20px 20px 20px;
    box-shadow: 3px  2px 8px 8px#888888;
    /* background: linear-gradient(0deg, rgb(170, 178, 179) 0%, rgba(224, 63, 63, 0.336) 100%); */
}

.container-header{
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

.title-form{
    margin-top: 10px;
    color: #272626;
    font-size: 26px;
}

.image{
    margin-top: 10px;
    width: 80px;
    height: 70px;
}
.form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px

}

.conteiner-input{
    display: flex;
    align-items: center;
}

#input{
    width: 40%;
    padding: 10px;
    border: 0.5px solid #2523237c;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
}

.container-btn{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 15px;
}
.container-btn button{
    width: 100%;
    max-width: 290px;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid var(--border);
    font-weight: bold;
    /* background: #b6afaf63; */
}
/* ----------------------------------------------------------------------NAVBAR--------------------------------------------------------------------------- */

.container-main{
    width: 100%;
    box-sizing: border-box;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Quicksand', sans-serif;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color:rgba(241, 239, 237, 0.973);
}
/* .container-navb{
    background-color:rgba(241, 239, 237, 0.973);

} */

.navb{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px -1px rgba(204, 180, 180, 0.2), 0px 1px 2px 2px rgba(184, 150, 150, 0.14), 0px 6px 3px 0px rgba(49, 48, 48, 0.12);
}

.sub_container{
    display: flex;
    width: 90%;
    justify-content: flex-start;
    align-items:"center";
    margin-left: 50px;
    /* background-color: aqua; */
}
.title-nav{
    margin-top: 10px;
    margin-left: 2px;
    color: #272626;
    font-size: 26px;
}

.image{
    width: 45px;
    height: 45px;
    /* margin-top: 4.5px; */
}

.container_links{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}

.links{
    text-decoration: none;
    list-style: none;
}
.links ul li{
    list-style: none;
    color: rgb(32, 29, 29);
    font-size: 18px;
    /* font-weight: bold; */
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
.c{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* flex-direction: column; */
}

.svg{
    background-image: url('../src/assets/icon.svg');
   background-repeat: no-repeat;

   /* background-position: center right calc(0.375em + 0.1875rem); */
   /* background-size: cover; */
   /* background-color: rgb(230, 219, 219);  */
   width: 500px;
   background-size: cover;
   height: 700px;

}


/* -----------------------------------------------------------------------table----------------------------------------------------------------- */

.container-table{
    width: 100%;
    margin: 100px auto;
}

th{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}
.main{
    font-family: 'Barlow', sans-serif;
}

table{
    align-content: center;
    border-spacing: 0;
    width: 86%;
    box-shadow: 3px  2px 8px 8px#888888;
    border-radius: 5px;
    margin: auto;
}

td, th{
    padding: .75em;
    text-align: center;
    border-top: 1px solid var(--border);
}
tbody tr{
    font-family: 'Quicksand', sans-serif;
}
tbody tr:hover{
    background: #59615c48;
}

.container-actions{
    /* width: fit-content; */
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.btn-delete{
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 0.1px solid var(--border-btn);
    cursor: pointer;
    background: var(--icon-delete);
}
.btn-edit{
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 0.1px solid var(--border-btn);
    cursor: pointer;
    background: var(--icon-edit);
}


.thead-dark th{
    color: #fff;
    background-color: var(--dark);
    border-color: #32383e;
}
.icon-delete{
    width: 20px;
    height: auto;   
}
.icon-edit{
    width: 20px;
    height: auto;
}

.count{
    color: #79807b;
    font-size: 2em;
    position: absolute;
    transform: translate(180px, 0px);
}

@media only screen and (max-width: 1024px){
    table, thead, tbody, th, td, tr{
        display: block;
    }

    thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid var(--border);}

    td{
        border: none;
        position: relative;
    }
    .container-table{
        /* display: flex; */
        justify-content: center;
        /* align-items: center; */
    }
    .table{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

/* -----------------------------------------Loader */

.modal{
    width: 100%;
    position: fixed;
    inset: 0;
    backdrop-filter: blur(0.6px);;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 48.5%;
    left: 50%;
    right: 50%;
    position: absolute;
    font-family: sans-serif;
    font-weight:bolder;
    font-size: 16px;
}

.container_modal{
    position: relative;
    width: 100%;
    min-width: 250px;
    height: 100%;
    box-shadow: 1px 1px 15px rgba(7, 7, 7, 0.589);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(246, 242, 242, 0.807);
}

.loader{
    height: 120px;
    width: 120px;
    border-top: 5px solid #1fcc61;
    border-right: 5px solid transparent;
    border-radius: 50%;
    animation: 1s spin linear infinite;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


/* ---------------------------------popup */

.container{
    width: 100%;
    /* background-color: #32cf6e; */
    inset: 0;
    backdrop-filter: blur(0.6px);
    position: fixed;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-container{
    display: none;
}
.container-popup{
    width: 100%;
    inset: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(246, 242, 242, 0.534);

}

.popup{
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 18%;
    box-shadow: 1px 1px 15px rgba(7, 7, 7, 0.589);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgba(246, 242, 242, 0.807);
}

.container-btn-popup{
    width: 90%;
    position: absolute;
    top: 138px;
    display: flex;
    justify-content: flex-end;
}
.btn-popup{
   width: 30%;
   cursor: pointer;
   padding: 4px;
   border-radius: 6px;
   border: none;
   color: #101110;
   /* font-size: 1rem; */
   background-color: #9aa59e2c;
   font-weight: 800;
}
.icon{
    position: absolute;
    top: 0px;
    right: 0;
    right: 10px;
  /* width: 100px; */
  /* height: 50px; */
  /* border: 3px solid #73AD21; */
}
.span{
    color: var(--icon-delete);
    cursor: pointer;
    font-size: 25px;
}
.div{
    position: absolute;
    top: 10px;
    right: auto;
    left: 10px;
}
.circle{
    background: var(--icon-edit);
    width: 15px;
    height: 15px;
    border-radius: 50px;
    position: absolute;
}

.circle-two{
    background: var(--icon-delete);
    width: 15px;
    height: 15px;
    border-radius: 50px;
    position: absolute;
    left: 20px;
}
/* --------------------------------------------------------MODAL */
.container-main-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position:absolute;
    top: 50px;
    width: 100%;
    inset: 0;
    backdrop-filter: blur(0.6px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(246, 242, 242, 0.795);
}


.container-form-modal{
    border-radius: 15px;
    width: 30%;
    max-width: 400px;
    min-width: 275px;
    height: auto;
    padding: 20px 20px 20px 20px;
    box-shadow: 3px  2px 8px 8px#646262;

}

.header{
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
    position: relative;
    top: -10px;
}


.form-modal{
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    gap: 15px;

}
#input-modal{
    width: 90%;
    padding: 10px;
    border: 0.5px solid #2523237c;
    border-radius: 5px;
}

.container-label{
    width: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
label{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    width: 93%;
}

.container-btn-modal{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin-top: 15px;
}
.btn-modal{
    width: 35%;
    max-width: 290px;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid var(--border);
    font-weight: bold;
    color:#dee2e6;
    cursor: pointer;
    background-color:#00df55;
}


.btn-close{
    width: 35%;
    max-width: 290px;
    padding: 10px;
    border-radius: 9px;
    border: 2px solid var(--border);
    font-weight: bold;
    color:#dee2e6;
    cursor: pointer;
    background-color:#cc1f28;
}


/* --------title-table */

.container-title{
    width: 90%;
    margin-left: auto;
    text-align: left;
    margin-right: auto;
    /* background-color: #1fcc61; */
    margin-bottom: 20px;
    /* flex-direction: column; */
}
.title-all-students{
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}
/* @media only screen and (max-width: 1024px){

    .main{
        background: rgba(247, 232, 232, 0.986);
    }
} */