.main-profile{
    width: 100%;
    /* background: rgb(223, 149, 149); */
    /* margin: 70px 10px; */
    /* display: flex; */
    justify-content: center;
    /* flex-direction: row; */
    align-items: center;
    border-radius: 10px;
    /* height: 100vh; */
    /* flex-wrap: wrap; */
}
/* .title-profile{
    font-size: 20px;
    margin-top: 90%;
    font-weight: 600;
} */
.container{
    /* width: 80%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(216, 210, 210);
    height: 100vh; */
    display: flex;
    position: relative;
    align-items: center;
    width: 95%;
    max-width: 98%;
    min-width: 250px;
    border-radius: 10px;
    margin-top: 65px;
    background: rgba(121, 106, 78, 0.185);
    
}
.container-photo {
    width: 18%;
    margin: 5%;
    background-color: red;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-dates {
    width: 20%;
    background-color: rgb(39, 33, 33);
    height: 40vh;
}