.container-nav-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2020;
    transform: translateY(0);
    background-color: var(--white-color);
    box-shadow: 0px 2px 10px -1px rgba(204, 180, 180, 0.2), 0px 1px 2px 2px rgba(184, 150, 150, 0.14), 0px 6px 3px 0px rgba(49, 48, 48, 0.12);
}


.content {
    height: 56px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container-action {
    display: flex;
    flex-direction: row;
}

.container-links-nav {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-navbar {
    padding: 6px 0px;
    width: 100%;
    color: #080808;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.links-navbar:hover .line-span {
    background-color: #21605D;
    width: 7%;
    top: 48px;
    border-radius: 5px;
    display: flex;
    height: 9%;
    position: absolute;
}

.btn-close-header {

    cursor: pointer;
    width: 25px;
    height: 25px;
    color: #21605D;
}

.container-profile-info {
    /* width: 100%; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    min-width: 160px;
    cursor: pointer; */
    /* min-width: 225px; */
    align-items: center;
    justify-content: flex-end;
}

.title-login {
    /* font-weight:800; */
    /* width: 35%; */
    /* background: #004B77; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: flex;
    flex-direction: row;
    align-items: center;

}
.icons-nav{
    /* margin: 0 20px; */
    color: rgb(48, 49, 44);
    align-items: center;
}

.icon-user {
    width: 30px;
    height: 30px;
    color: #21605D;
    min-width: 20px;
}

.icon-dark {
    width: 30px;
    height: 30px;
    color: #21605D;
}