@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');


:root{
    --dark: #2b2d42;
    --light: #adb5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
    --icon-delete: #FF0008;
    --icon-edit: #FFD100;
    /* -----------palet-colorseaweed */
    --color-basic: #21605D;
    --two: #339476;
    --tree: #87E1C7;
    --white-color: #EAEBED;
    --ig-primary-background: 255, 255, 255;
}
.dark *{
    background: var(--dark);
    /* #293145 */
}
body{
    margin: 0;
    font-family: "Haas Grot Text R Web","Helvetica Neue","Helvetica","Arial","sans-serif";
    box-sizing: border-box;

}

.dashboard-container {
    display: flex;
    flex-direction: column;
}



@media only screen and (max-width: 800px){
    /* 1024 */
    table, thead, tbody, th, td, tr{
        display: block;
    }

    .container-sidebar{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    /* sidebar_header---------------- */
    .container-btn-header{
        display: none;
    }
    .container_{
        display: flex;
        justify-content: center;
        width: 50%;
    }
    .dashboard-input{
        width: 100%;
        padding: 5px;
    }
    /* --------------------- */

    thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid var(--border);}

    td{
        border: none;
        position: relative;
    }
    .container-table{
        justify-content: center;
   
    }
    .table{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* --------------navb */
    .container-links-nav{
        display: none;
    }


}
/* @media only screen and (max-height: 600px) {
   
    .container-form-modal {
        max-height: 500px;
    

    }
    
} */





