@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');


:root{
    --dark: #2b2d42;
    --light: #adb5bd;
    --border: #dee2e6;
    --border-btn: #edf2f4;
    --icon-delete: #FF0008;
    --icon-edit: #FFD100;
    /* -----------palet-colorseaweed */
    --color-basic: #21605D;
    --two: #339476;
    --tree: #87E1C7;
    --white-color: #EAEBED;
    --ig-primary-background: 255, 255, 255;
}
/* *{
    background: var(--dark);
} */
body{
    margin: 0;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: "Haas Grot Text R Web","Helvetica Neue","Helvetica","Arial","sans-serif";
    box-sizing: border-box;

}

/* content */
.dashboard-body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-container {
    display: flex;
    flex-direction: column;
}

/* ------------------------------------FORM -----------------------------------------------------------------*/
.container-main-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.container-form{
    display: flex;
    margin: 20px auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    min-width: 40%;
    height: auto;
    padding: 20px 20px 20px 20px;
    box-shadow: 3px  2px 8px 8px var(--light);;
    /* background: linear-gradient(0deg, rgb(170, 178, 179) 0%, rgba(224, 63, 63, 0.336) 100%); */
}

.container-header{
    width: 100%;
    flex-direction: column;
    display: flex;
    height: 150px;
    justify-content: flex-start;
    align-items: center;
    /* padding-bottom: 20px; */
}

.title-add-student{
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
}
.title-form{
    margin-top: 10px;
    color: #272626;
    font-size: 26px;
}

.image{
    margin-top: 10px;
    width: 80px;
    height: 70px;
}
.form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px

}

.conteiner-input{
    display: flex;
    align-items: center;
}

#input{
    font-style: inherit;
    font-family: inherit;
    border: 0.5px solid #2523237c;
    background: none transparent;
    margin: 0px;
    min-width: 0px;
    width: 40%;
    border-radius: 5px;
    font-size: 0.77rem;
    padding: 0.625rem;
    /* text-transform: uppercase; */
}

.container-btn{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 15px;
}
.container-btn button{
    width: 90%;
    max-width: 230px;
    padding: 0.8em;
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
    color: var(--white-color);
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #2728297c;
    background-color: var(--color-basic);
}
/* ----------------------------navbar header-------------------------- */



.container-sidebar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.container_{
    margin-right: 10px;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 0.009em;
    cursor: text;
    display: inline-flex;
    align-items: center;
    width: 30%;
    background-color: transparent;
    font-size: 0.875rem;
    border-radius: 0.375rem;
    border: 1px solid gray;
}
.container-btn-header{
    display: flex;
    margin-left: 10px;
}
.text-user{
    font-size: 15px;
    letter-spacing: inherit;
    /* box-sizing: content-box; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.dashbord-header-btn {
    padding: 0.8em;
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
    color: var(--white-color);
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid;
    background-color: var(--two)
}
.dashboard-input {
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    border: 0px;
    box-sizing: content-box;
    background: none transparent;
    margin: 0px;
    display: block;
    min-width: 0px;
    width: 100%;
    /* color: #000000; */
    font-size: 0.75rem;
    padding: 0.625rem;
}
/* -----------------------------------------sidebar */

.sidebar {
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10000;
    background: var(--color-basic);
    border-top-right-radius: 15px;
    /* background-image: linear-gradient(#015C92, #2D83B5, #89CCF6);
    box-shadow: 0px 8px 10px -5px rgb(213 28 28 / 20%), 0px 16px 24px 2px rgb(0 0 0 / 14%), 0px 6px 30px 5px rgb(0 0 0 / 12%); */
}

.container-close-nav{
    /* background-color: #1fcc61; */
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;


}
.icon-close {
    width: 50px;
    height: 40px;
    color: red
}
.sidebar-logo-container {
    display: 'flex';
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.title-nav{
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
}

.sidebar-logo-container img {
    width: 50%;
    padding: 2em;
}
.sidebar-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.sidebar-items {
    height: 100%;
    width: 100%;
}
.sidebar-item {
    padding: 1.5em;
    padding-left: 2em;
    display: flex;
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.sidebar-item:hover {
    background-color: #004B77;
}
.sidebar-item-active {
    padding: 1.5em;
    padding-left: 2em;
    display: flex;
    color: var(--white-color);
    list-style: none;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;
    background-color: #004B77;
    cursor: pointer;
}
.sidebar-item-icon {
    width: 20px;
}
.icons-nav{
    width: 20px;
    height: 20px ;
    margin-right: 15px;

}
.icon-logOut {
    width: 24px;
    height: 24px;
    margin-right: 6px;
    color: red;

}
.links {

    padding: 20px;
    padding-left: 1em;
    display: flex;
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

/* Footer */
.sidebar-footer {
    color: var(--white-color);
    display: flex;
    align-items: center;
    gap: 40px;
    cursor: pointer;
}

/* ------------------------------------------popupuser */

.container-popup-user{
    position: absolute;
    min-width: 240px;
    max-width: 60%;    
}
.sub_container-popup-user{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


.triangle{
    position: absolute;
    background-color: rgb(254, 255, 254);
    clip-path: path('M8 0C8 4 9.32406e-08 7.819 1.25211e-07 10.5C1.57188e-07 13.1815 8 17.0005 8 21L8 0Z');
    height: 19px;
    width: 19px;
    transform: rotate(450deg);
    top: -8px;
    margin-right: 5px;
    
}

.main-user-popup{
    position: absolute;
    width: 90%;
    top: 30px;
    display: flex;
    flex-direction: column;
    left: -40%;
    z-index: 3;
    background-color: rgb(254, 255, 254);
    box-shadow: 3px 2px 8px 8px var(--light);
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', "Geneva", Verdana, sans-serif;
    
}

.popup-user{
    align-items: stretch;
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font: inherit;
    font-size: 100%;
    height: 100%;
    margin: 0;
    vertical-align: baseline;
    width: 100%;
}
.perfil{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    padding: 5px;
    cursor: pointer;
}
.perfil:hover{
    background: #e2e4e7c2;
}
.icon-user-popup{
    width: 24px;
    /* height: 18px; */
    margin-right: 4px;
}
.icon-user-edit1{
    width: 25px;
    height: 30px;
    margin-right: 4px;
}

.logout{
    /* width: 100%; */
    color: red;
    cursor: pointer;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 8px;
    margin-bottom: 8px;
}

.line-logout{
    width: 100%;
}

.logout-icon{
    width: 25px;
    height: 30px;
    margin-right: 4px;
}
.icon-dark-mode{
    width: 30px;
    height: 36px;
    margin-right: 1px;
}
.icon-dark-mode-active {
    width: 30px;
    height: 36px;
    margin-right: 1px;
    color: var(--dark)
}


/* ------------------------------------------NAVBAR ---------------------*/

.container-nav-header{

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2020;
    transform: translateY(0);
    

    /* width: 100%;
    position: sticky;
    z-index: 4000;
    top: 0; */
    background-color: var(--white-color);
    box-shadow: 0px 2px 10px -1px rgba(204, 180, 180, 0.2), 0px 1px 2px 2px rgba(184, 150, 150, 0.14), 0px 6px 3px 0px rgba(49, 48, 48, 0.12);
}


.content{
    height: 56px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container-action{
    /* width: 35%; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}
.container-links-nav {
    /* width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 1 728px;
    min-width: 0px;
}

.sub-container-navbs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.links-navbar {
    padding: 10px;
    /* padding-left: 1em; */
    /* display: flex; */
    color: #050505;
    list-style: none;
    text-decoration: none;
    /* align-items: center; */
    cursor: pointer;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.links-navbar:hover .line-span {
    background-color: #21605D;
    width: 7%;
    top: 48px;
    border-radius: 5px;
    display: flex;
    height: 9%;
    position: absolute;
}
.btn-close-header{
 
    cursor: pointer;
    width: 25px;
    height: 25px;
    color: #21605D;
}

.container-profile-info{
    /* width: 100%; */
    /* display: flex;
    align-items: center;
    justify-content: center;
    min-width: 160px;
    cursor: pointer; */
    /* min-width: 225px; */
    align-items: center;
    justify-content: flex-end;
}
.title-login{
    /* font-weight:800; */
    /* width: 35%; */
    /* background: #004B77; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: flex;
    flex-direction: row;
    align-items: center;

}
.text-user {
    margin-right: 3px;
    font-size: 15px;
}
.icon-user{
    width: 30px;
    height: 30px;
    color: #21605D;
    min-width: 20px;
}
.icon-dark{
    width: 30px;
    height: 30px;
    color: #21605D;
}

/* -----------------------------------------------------------------------table----------------------------------------------------------------- */

.container-table{
    width: 100%;
    /* min-width: 100px; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

th{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}


.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 98%;

}

table{

    border-spacing: 0;
    width: 100%;
    box-shadow: 2px  2px 8px 8px var(--light);
    border-radius: 5px
}
td, th{
    padding: 10px;
    text-align: center;
}

.container-actions{
    /* width: fit-content; */
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.btn-delete{
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 0.1px solid var(--border-btn);
    cursor: pointer;
    background: var(--icon-delete);
}
.btn-edit{
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 0.1px solid var(--border-btn);
    cursor: pointer;
    background: var(--icon-edit);
}


.thead-dark th{
    color: #FFFFFF;
    background-color: var(--dark);
    /* background-image: linear-gradient(#164661, #2d83b5dc, #426d88); */
    background: var(--two);
    border-color: #32383e;
}
.icon-delete{
    width: 20px;
    height: auto;
}
.icon-edit{
    width: 20px;
    height: auto;
}
.hr{
    width: 99%;
}
.count{
    color: #79807b;
    font-size: 2em;
    position: absolute;
    transform: translate(180px, 0px);
}

@media only screen and (max-width: 800px){
    /* 1024 */
    table, thead, tbody, th, td, tr{
        display: block;
    }

    .container-sidebar{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    /* sidebar_header---------------- */
    .container-btn-header{
        display: none;
    }
    .container_{
        display: flex;
        justify-content: center;
        width: 50%;
    }
    .dashboard-input{
        width: 100%;
        padding: 5px;
    }
    /* --------------------- */

    thead tr{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid var(--border);}

    td{
        border: none;
        position: relative;
    }
    .container-table{
        /* display: flex; */
        justify-content: center;
        /* align-items: center; */
    }
    .table{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: #32cf6e; */
    }

    /* --------------navb */
    .sub-container-navbs {
        display: none;
    }


}

/* -----------------------------------------Loader */

.modal{
    width: 100%;
    position: fixed;
    inset: 0;
    backdrop-filter: blur(0.6px);;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 48.5%;
    left: 50%;
    right: 50%;
    position: absolute;
    /* font-family: sans-serif; */
    font-weight:bolder;
    font-size: 16px;
}

.container_modal{
    position: relative;
    width: 100%;
    min-width: 250px;
    height: 100%;
    box-shadow: 1px 1px 15px rgba(7, 7, 7, 0.589);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(246, 242, 242, 0.807);
}

.loader{
    height: 120px;
    width: 120px;
    border-top: 5px solid #1fcc61;
    border-right: 5px solid transparent;
    border-radius: 50%;
    animation: 1s spin linear infinite;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


/* ---------------------------------popup */

.container{
    width: 100%;
    inset: 0;
    height: 100vh;
    backdrop-filter: blur(0.6px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-popup{
    /* height: 100vh; */
    width: 100%;
    inset: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(246, 242, 242, 0.534);

}

.popup{
    position: absolute;
    width: 100%;
    max-width: 400px;
    height: 20%;
    min-height: 199px;
    box-shadow: 1px 1px 15px rgba(7, 7, 7, 0.589);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgba(246, 242, 242, 0.807);
}

.container-btn-popup{
    width: 90%;
    position: absolute;
    top: 160px;
    display: flex;
    justify-content: flex-end;
}
.btn-popup{
    width: 30%;
    font-weight: 800;
    max-width: 230px;
    padding: 0.6em;
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    border: 0px;
    background-color: #015C92;
}
.icon{
    position: absolute;
    top: 0px;
    right: 0;
    right: 10px;
  /* width: 100px; */
  /* height: 50px; */
  /* border: 3px solid #73AD21; */
}
.span{
    color: var(--icon-delete);
    cursor: pointer;
    font-size: 25px;
}
.div{
    position: absolute;
    top: 10px;
    right: auto;
    left: 10px;
}
.circle{
    background: var(--icon-edit);
    width: 15px;
    height: 15px;
    border-radius: 50px;
    position: absolute;
}

.circle-two{
    background: var(--icon-delete);
    width: 15px;
    height: 15px;
    border-radius: 50px;
    position: absolute;
    left: 20px;
}
/* --------------------------------------------------------MODAL */
.container-main-modal {
    /* position: absolute; */
    top: 50px;
    width: 100%;
    inset: 0;
    backdrop-filter: blur(0.10px);
    position: fixed;
    display: flex;
    z-index: 5000;
    justify-content: center;
    align-items: center;
    background: rgba(246, 242, 242, 0.925);
}

.container-form-modal{
    border-radius: 15px;
    width: 30%;
    max-width: 340px;
    min-width: 275px;
    height: auto;
    padding: 20px 20px 20px 20px;
    box-shadow: 3px  2px 8px 8px#646262;

}

.header-modal{
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}


.form-modal{
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    gap: 10px;

}
#input-modal{
    font-style: inherit;
    font-family: inherit;
    border: 0.5px solid #2523237c;
    background: none transparent;
    margin: 0px;
    min-width: 0px;
    width: 90%;
    border-radius: 5px;
    font-size: 0.77rem;
    padding: 0.623rem;
}

.container-label{
    width: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
label{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    width: 93%;
}

.container-btn-modal{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 9px;
}
.btn-modal{
    width: 40%;
    max-width: 230px;
    padding: 0.8em;
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    border: 0px;
    background-color: #015C92;
}

.btn-close{
    width: 40%;
    max-width: 230px;
    padding: 0.8em;
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    border: 0px;
    background-color:#cc1f28; 
}


/* --------title-table */

.container-title{
    margin-top: 150px;
    width: 100%;
    display: flex;
    /* text-align: left; */
    /* background-color: #1fcc61; */
    /* margin-bottom: 20px; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title-all-students{
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    /* font-weight: 400; */
}
/* @media only screen and (max-width: 1024px){

    .main{
        background: rgba(247, 232, 232, 0.986);
    }
} */



/* -------------------------------------------------register || login*/
/* .main-container-login{
    font-family: 'Kanit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% ;
    height: 100vh;
    /* background-color: #21605D; */
    /* background: radial-gradient(circle, var(--dark) 8%, rgba(71, 60, 60, 0.705) 100%); */
/* } */
.main-container-login {
    height: 100vh;
    width: 100%;
    background: #f2eee3;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, var(--white-color) 8%, rgba(218, 209, 209, 0.801) 100%);
}

.login-box{

    width: 71%;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -5px #0004;
    display: flex;
    overflow: hidden;
        
}
.main-ref-register{
    /* background-color: #004B77; */
    width: 70%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.link-signup{
    padding: 12px 19px;
    border-radius: 8px;
    border: none;
    text-align: center;
    color: #3f3b3b;
    background: #e6e6ebe5;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 14.5px;
    cursor: pointer;
    margin-right: 8px;

}

.right {
    background: url(https://cdn.dribbble.com/users/118246/screenshots/5343519/wifi.gif);
    background-size: cover;
    color: rgb(90, 67, 67);
    position: relative;
    background-repeat: no-repeat;
    background-position-x: center;
}

.right-text {
    height: 100%;
    position: relative;
    /* transform: translate(15%, 10%); */
    display: flex;
    height: 18vh;
    justify-content: center;
    align-items: flex-end;
}
.sign-btn{
    padding: 20px;
    padding-left: 2em;
    display: flex;
    color: #0f0f0f;
    list-style: none;
    text-decoration: none;
    align-items: center;
    /* justify-content: flex-start; */
    cursor: pointer;
}
/* .container-login{
    background: #f7f7f7d7;
    border-radius: 15px;
    width: 30%;
    max-width: 330px;
    min-width: 275px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    box-shadow: 3px 2px 8px 8px#d8d0d00a;
} */
/* .container-login {
    width: 1050px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
} */
.container-login-left{
    
    width: 40%;
    height: 100%;
    padding: 25px 25px;
    background: linear-gradient(-45deg, #dcd7e0, #fff);
    
        
}

.main-form{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    height: 77%;
    width: 100%;
    /* margin: auto; */
}

.containers-labels-inputs{
    width: 100%;
}

.right {
    width: 60%;
    height: 100%
}

.header-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}

.header-title {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-register{
    width: 30px;
    height: 30px;
    color:#21605D
}
.icon-login {
    width: 40px;
    height: 40px;
    color: #21605D
}

.form-login {
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* margin-top: 20px; */

}
.title-form-login{
    font-size: 2rem;
    font-variant: inherit;
    font-weight: bold;
}

#username, #email, #password {
    font-style: inherit;
    font-family: inherit;
    border: 0.5px solid #2523237c;
    background: none transparent;
    margin: 0px;
    min-width: 0px;
    width: 94%;
    border-radius: 5px;
    font-size: 0.77rem;
    padding: 0.623rem;
}

.msg-alert{
    padding: 2px 5px 0px 5px;
    background-color: #f8d7da;
    border: 1px #e4c2c5 solid;
    border-radius: 3px;
    font-weight: 400;
    font-size: 12px;
    color: #c01d2b;
    line-height: 18px;
    opacity: 0.7;
    margin-bottom: 4px;
}
.label-login{
    font-family: 'Kanit', sans-serif;
    width: 98%;
    margin-bottom: 10px;
}
.link-reg{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    margin-left: 5px;
}
#email:hover{
    box-shadow: 3px 2px 8px 8px#8cb3e094;
}
#password:hover{
    box-shadow: 3px 2px 8px 8px#8cb3e094;
}

.container-label-email {
    width: 100%;
    /* padding: 10px; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-label-password{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container-btn-login{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn-login-send{
    width: 100%;
    /* max-width: 300px; */
    padding: 0.8em;
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    border: 0px;
    background-color: var(--two);
}

/* --------------------------------------------notification--------------------------------------- */
.container-header-notification{
    width: 100%;
    top: 10px;
    backdrop-filter: blur(0.6px);
    position: absolute;
    transition: all 2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1fcc61;
}
.container-notifi{
    width: 50%;
    height: 10vh;
    max-width: 300px;
    background-color: #E9EBED;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    background-color: #1fcc61;
}
.msg-error{
    color: red;
    font-size: 18px;
    text-decoration:underline;
    font-weight: bold;
}

.msg-success{
    color: green;
    font-size: 18px;
    font-weight: bold;
    /* text-decoration:underline; */
}

.icon-success{
    width: 40px;
    height: 30px;
    color: green;
}

.icon-error{
    width: 40px;
    height: 30px;
    color: red
}
/* .icon-success-color{
    width: 40px;
    height: 30px;
    color: green
} */


/* ------------------------------------------------------home------------------------------ */
.main-home{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
}

.title-dashboard{
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
}
.content-home{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 99%;
    max-width: 98%;
    min-width: 250px;
    border-radius: 10px;
    margin-top: 65px;
    background: rgba(231, 224, 211, 0.185);
}
.container-cards{
    width: 100%;
    /* padding: 10px; */
    /* background-color: #1fcc61; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* margin: 10px; */
}

.icon-card{
    margin-top: 20px;
    width: 100px;
    height: 100px;
    color: #21605D
    /* color: #b7c5bb; */
}
.card{
    width: 20%;
    max-width: 250px;
    min-width: 200px;
    background: var(--white-color);
    display: flex;
    box-shadow: 1px 1px 20px rgba(7, 7, 7, 0.589);
    border-radius: 8px;
    margin: 5px;
    flex-direction: column;
}
.figure-student{
    width: 100%;
    display: flex;
    height: 10%;
    height: 150px;
    justify-content: center;
    border-radius: 5px;
    margin: 10px 0;
}
.container-info-students{
    width: 90%;
    padding: 9px 9px;
    margin: 0 8px;
    /* border-radius: 10px; */
    /* justify-content: center; */
    margin-bottom: 20px;
        
}
.name-student{
    text-align: center;
    margin-top: -10px;
    text-transform: uppercase;
}
.span-info{
    font-size: 15px;
    font-family: "Segoe UI Historic";
    color: #050505;
    /* margin-right: 20px; */

}
.spn{
    color: #3f807c;
    font-size: 19px;
    font-family: "apple-system";
    text-align: center;
}
.line-bottom{
    width: 9%;
    height: 4px;
    background: #21605D;
    margin-bottom: 10px;
    border-radius: 3px;
}
